body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-container {
    background-color: royalblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
button[type="submit"], button[type="button"] {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
